<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="HourOfDayToRunService" value="1" />
    <add key="TimerRunInterval" value="10000" />
    <add key="NumberOfDaysBeforeCakeDayToSendMail" value="1" />
    <add key="FromMailAddress" value="svein.elgstoen@gmail.com" />
    <add key="MailSubject" value="KAKEANSVAR" />
    <add key="MailBody" value="Din avdeling har ansvar for kake til kake/kaffe-møtet på fredag {0}" />
    <add key="MailHost" value="localhost" />
    <add key="RepositoryPath" value="c:\temp\" />
    <add key="LogPath" value="c:\temp\cakeService.log" />
  </appSettings>
</configuration>